<div class="page">
   <form>
      <header class="section center">
         <label class="inline">Database:</label>
         <h2 class="inline"><%= dbName %></h2>
      </header>
      <div class="section">
         <a href = "#create" onclick="resource.createForm('/resource/model/create/database')" class="border link button">Create New Database</a>
         <a href = "#create" onclick="resource.createForm('/resource/model/create/document')" class="border link button">Create New Document</a>
      </div>
      <table class="data">
         <thead>
            <tr>
               <th scope="col">Document ID</th>
               <th scope="col">Value</th>               
               <th scope="col" colspan="2">Action</th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
<% entities.forEach(function(element){ %>
            <tr>
               <td><a href="#list" onclick="resource.view('/view/list/<%= element.id %>')"><%= element.id %></a></td>
               <td>
                  <%= element.value %>
               </td>
               <td>
                  <a href = "#update" onclick="resource.updateForm('/resource/model/update/document', 'none', '<%= element.id %>')" class="link button">Edit</a>
               </td>
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/document', '<%= element.id %>')" class="link button">Delete</a>
               </td>
            </tr>
<% }) %>
         </tbody>
      </table>
   </form>
</div>