<div class="page">
   <div class="section">
      <a href = "/" class="border link button">Main</a>
   </div>
   <table class="data">
      <caption><%= key %></caption>
      <thead>
         <tr>
            <th scope="col">Field</th>
            <th scope="col">Value</th>
            <th scope="col" colspan="2">Action<a href = "#create-element" onclick="resource.createForm('/resource/model/create/hash/element', '<%= key %>')" class="link button" style="float:right">Create</a></th>
         </tr>
      </thead>
      <col id="value"/>
      <col id="actions"/>
      <tbody>
<% for (var k in data) { %>
         <tr>
            <td><%= k %></td>
            <td><%= data[k] %></td>
            <td>
               <a href='#edit' onclick="resource.updateForm('/resource/model/update/hash/element', '<%= key %>', {field:'<%= k %>', value:'<%= data[k] %>'})" class="link button">Edit</a>
            </td>
            <td>
               <a href = "#" onclick = "resource['delete']('/resource/hash/element', '<%= key %>', '<%= k %>')" class="link button">Delete</a>
            </td>
         </tr>
<% } %>
      </tbody>
   </table>
</div>