<div class="page">
   <div class="section">
      <a href = "/" class="border link button">Main</a>
   </div>
   <table class="data">
      <caption><%= key %></caption>
      <thead>
         <tr>
            <th scope="col">Value</th>
            <th scope="col">Action<a href = "#create-element" onclick="resource.createForm('/resource/model/create/set/element', '<%= key %>')" class="link button" style="float:right">Create</a>
            </th>
         </tr>
      </thead>
      <col id="value"/>
      <col id="actions"/>
      <tbody>
<% data.forEach(function(value){ %>
         <tr>
            <td>
               <%= value %>
            </td>
            <td>
               <a href = "#" onclick = "resource['delete']('/resource/set/element', '<%= key %>', '<%= value %>')" class="link button">Delete</a>
            </td>
         </tr>
<% }) %>
      </tbody>
   </table>
</div>